.courses {
	@apply flex flex-col py-16 gap-5;
}

.categories {
	@apply mx-auto flex gap-5 bg-white p-6 rounded-xl items-center;
}

.heading {
	@apply mx-auto text-5xl font-semibold mt-5;
}

.activeButton {
	@apply text-white bg-cyan-500 border border-transparent py-2 px-4 rounded-md shadow-sm;
	transition: background-color 0.3s ease;
}

.activeButton:hover {
	@apply bg-cyan-700;
}

.button {
	@apply text-gray-800 bg-gray-200 hover:bg-gray-300 border border-gray-300 py-2 px-4 rounded-md shadow-sm;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #d1d5db;
}

.coursesContainer {
	@apply p-5 bg-white rounded-2xl mt-2 flex flex-wrap gap-5;
}

.courseCard {
	@apply bg-cyan-300 p-5 rounded-lg flex flex-col;
}

.courseImage {
	@apply w-full h-40 object-cover rounded-md mb-4;
}

.courseHeading {
	@apply text-xl font-semibold text-gray-800 mb-2;
}

.courseButton {
	@apply bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md;
}
